/*PLAYSHEET TEST */
body { 
background-repeat: repeat;
font-family: Helvetica,Arial;

}
.lightblue{
	background-color: #3434A4;
}
.grey{
	background-color: grey;
}
.white{
	background-color: white;
}
.wallpaper{
	background-image: url('../images/wallpaper.jpg');
	color:white;
}
.invisible{
  display:none;
}

 ul, li {
    padding-left: 0
  }

ul{
    list-style-type: disc;
    padding:0px;
    margin:0px;
}
li{
    margin:0px;
}
ol{
    list-style-type: decimal;
    padding: 0px;
    margin: 0px;
}

h1,h2,h3,h4{
	text-align: center;
  padding:0px;
  margin:0px;
}
h1{
  font-size:2.2em;
}
td.menu a:link{ color: #000000; text-decoration: underline; }
td.menu a:visited { color: #000000; text-decoration: underline;}
td.menu a:hover { color: #000000; text-decoration: underline; background-color: #CCCCFF; }
a:active { color: #660000; }
a:link { color: #FFFFFF;  }
a:visited { color: #FFFFFF; }
a:hover { color: #000000; background-color: #BEBEBE; }
a:active { color: #660000; }
.table-hover > tbody > tr:hover {
  background-color: #222299;
}
.header-left{
	text-align:left;
}
input, select, textarea, option{ 
	background-color: #000977;
	background-color: rgba(1,1,2,.4);
	color:white;
	border-style: solid;
	border-width: 0;
}

.ie select, .ie input, .ie textarea {
	background-color: #000977;
}

.spaced > td{
  min-width:100px;
  margin: 10 10 10 10;
}
/* CSS for general page layout */

#wrapper {
    background-color: rgba(0,0,0,.2);
    width: 1024px;
    min-height:80%;
    overflow:auto;
    max-height:80%;
    margin-right: auto;
    margin-left: auto;
    border-right-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-left-style: solid;
    border-right-color: #FFFFFF;
    border-left-color: #FFFFFF;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width:1px;
    border-bottom-style: solid;
}
#wrapper.socan{
  width:1200px;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.wrapper{
    position: relative;
    width:1024px;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
    color: white;
    overflow: visible;
}
.inner{
    display:inline-block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
    width:90%;
}
.inner > li{
    min-height:20px;
}
.small{
    width:100%;
    height:auto;
}
.small-input{
  width:80px;
}
.wrapper:after{    background-color: grey;
}

.clean-list{
    list-style: none;
}
.inline-list *{
	display:inline-block;

}

.text-left{
	text-align:left;
}
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.left{
  float:left;
}
.right{
  float:right;
}
.center{
	margin-left:auto;
	margin-right:auto;
  width: 90%;
}
.padded{
  padding-top:10px;
}
.double-padded-top{
  padding-top:20px;
}
.side-padded{
  padding-left:5px;
  padding-right:5px;
}
.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}
.border{
  border-style:solid;
  border-width:1px;
  border-colo
  r: white;
}
.pad-top{
  padding-top:2px;
}

.overflow_hidden{
	overflow:hidden;
}
.overflow_show{
	overflow:visible;
}
.overflow_auto{
	overflow:auto;
}
.inline_block{
	display:inline-block;
}
.text-center{
    text-align: center;
}
.smalltext{
	top:3px;
	font-size:70%;
}
.wideinput{
  width:300px;
}
.largeinput{
	width:750px;
	max-width:83%;
	height:50px;
	max-height:75px;
}
.fill{
  position:relative;
  min-height:100px;
  height:auto;
  width:100%;
  max-height:100%;
  max-width: 100%;
}

.hidden{
	display:none;
}

/* CSS to make the YCBM Links not look bad and take up all the page width */  
.youCanBookMe_Container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height:850px;
}
.youCanBookMe_Container{
  position: relative;
  margin-left: auto;
  margin-right:auto;
  /*Don't touch - anything below 56% induces a scrollbar on 100%zoom, 1080p chrome, any over makes it too long*/
  padding-bottom: 56%;
  /* Padding top is sometimes req'd by things like youtube videos */
  padding-top: 0;
  height: 0;
  overflow: hidden;
  /* YCBM Adds stupidly wide margins in it's iframe if you don't limit the contianer width */
  max-width: 830px;
}
.poweredByFooter{
  !important display:none;
}

/* MENU STYLING CSS */
#nav{ 
	list-style:none;
    width:1020px;
    margin:30px auto 0px auto;
    height:43px;
    padding:0px 20px 0px 20px;
    background: #A4A4A4;
    background: -moz-linear-gradient(top, #3434A4, #1030BE);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3434A4), to(#1030BE));
    border: 1px solid #002232;
    -moz-box-shadow:inset 0px 0px 1px #BEBEBE;
    -webkit-box-shadow:inset 0px 0px 1px #BEBEBE;
    box-shadow:inset 0px 0px 1px #BEBEBE;
    z-index:5;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.nav.mini{
    list-style:none;
    width:940px;
    margin: 0 auto;
    margin:0px auto 0px auto;
    height:25px;
    font-size: 16px;
    background: #A4A4A4;
    background: -moz-linear-gradient(top, #343434, #101010);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cccccc), to(#343434));
    border: 1px solid #002232;
    -moz-box-shadow:inset 0px 0px 1px #BEBEBE;
    -webkit-box-shadow:inset 0px 0px 1px #BEBEBE;
    box-shadow:inset 0px 0px 1px #BEBEBE;
    z-index:5;

}
.nav.mini li{
    position: relative;
    float: left;
    height: 25px;
    z-index:20;
    padding: 0px 10px;
}
#tab-nav{
    position:relative;
	list-style:none;
    width:1024px;
    margin:0px auto 0px auto;
    min-height:35px;
    height:auto;
}


#nav li, #tab-nav li{
	float:left;
	position:relative;
    padding-left:5px;
    padding-right:5px;
    padding-top:4px;
    padding-bottom: 4px;
	text-align:center;
    margin-left:10px;
	margin-right:10px;

	margin-top:7px;
	border:none;
}
#nav li{
	z-index:20;
}
#tab-nav li{
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
   	border-radius: 5px 5px 0px 0px;

}
.active-tab{
    background: #A4A4A4;
    background: -moz-linear-gradient(top, #A4A4A4, grey);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A4A4A4), to(grey));
    border-width: 0px 0px 0px 0px;
}
.inactive-tab{
	background: #A4A4A4;
    background: -moz-linear-gradient(top, #3434A4, #1030BE);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3434A4), to(#1030BE));
}
	
#nav li:hover{
	border: 1px solid #555555;
    padding: 4px 4px 4px 4px;
    background: #F4F4F4;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}
#nav .nodrop,.drop, #tab-nav .nodrop,.drop {
	right:8px;
	cursor: pointer;
}
#nav .nodrop:hover {
	-moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
	right: 7px;
	top:auto;
	left:auto;
}
#nav .drop:hover{
	right: 7px;
	top:auto;
	left:auto;
}
#nav li a, #tab-nav li a{ 
    display:block;
    outline:0;
    text-decoration:none;
    text-shadow: 1px 1px 1px #000;
}
#nav li:hover a {
    color:#161616;
    text-shadow: 1px 1px 1px #FFFFFF;
	background:none;
}
#tab-nav li:hover a{
	color:white;
	text-decoration: none;
	background:none;
}


.dropdown.small,
.dropdown.medium,
.dropdown.large {
	float:left;
    position:absolute;
    left:-999em;
    text-align:left;
    padding:10px 5px 10px 5px;
    border:1px solid #555555;
    border-top:none;
    background:#F4F4F4;
    background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
}
.dropdown.small {width: 140px;}
.dropdown.medium {width: 280px;}
.dropdown.large {width: 420px;}

#nav li:hover .dropdown.small,
#nav li:hover .dropdown.medium ,
#nav li:hover .dropdown.large{
    left:-1px;
    top:auto;
}

.dropdown > .small,
.dropdown > .medium,
.dropdown > .large{
    display:inline;
    float: left;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}
.dropdown > .small {width:130px;}
.dropdown > .medium {width:270px;}
.dropdown > .large {width:410px;}

#nav .menu_right {
    float:right;
    margin-right:0px;
}
#nav li .align_right {
    -moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
}
#nav li:hover .align_right {
    left:auto;
    right:-1px;
    top:auto;
}

#nav li ul, #tab-nav li ul {
    list-style:none;
    padding:0;
    margin:0 0 12px 0;
}
#nav li ul li, #tab-nav li ul li {
    font-size:12px;
    line-height:24px;
    position:relative;
    text-shadow: 1px 1px 1px #FFFFFF;
    padding:0;
    margin:0;
    float:none;
    text-align:left;
    width:130px;
}
#nav li ul li:hover, #tab-nav li ul li:hover {
    background:none;
    border:none;
    padding:0;
    margin:0;
}

/* Playsheet Angular CSS */

[ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}

div#main {
	width:50%;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}


#mainleft {
	font-size:1em;
	line-height:1.3em;
	position:relative;
}

#mainleft input, #mainleft textarea{
	width:75%;
	margin: 5px;
	padding:5px;
}
#mainleft label{
	font-size:0.95em;
	text-align:right;
	display:inline-block;
	width:100px;
}

#mainleft input{
	font-size: 1em;
}

#mainleft textarea{

	font-size:0.77em;
	vertical-align: top;
}
.buttonContainer{
	list-style:none;
	margin:30px auto 0px auto;
    padding:0px 20px 0px 20px;
	width:140px;
    height:33px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #A4A4A4;
    background: -moz-linear-gradient(top, #3434A4, #1030BE);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3434A4), to(#1030BE));
    border: 1px solid #002232;
    -moz-box-shadow:inset 0px 0px 1px #BEBEBE;
    -webkit-box-shadow:inset 0px 0px 1px #BEBEBE;
    box-shadow:inset 0px 0px 1px #BEBEBE;

}
.playitem > td >input{
  font-size:0.8em;
  width:95%;
}

.buttonContainer ul{
	margin:0;
	padding:0;
}
.buttonContainer li {
	margin-top:7px;
	width:140px;
    text-align:center;
	list-style:none;
}
.buttonContainer a {
	text-decoration:none;
}
.selectps{
	width:50%;
	margin-left:auto;
	margin-right:auto;
}
#ps_status{
	position:fixed;
	top:0;
	left:35%;
	width:15%;
	margin-left: auto;
	margin-right: auto;
	background-color: lightyellow;
	color:black;
	padding:3px 15px 3px 15px;

}

#ps_header td, #ps_header input, #ps_header select{
	font-size: 15px;
}
#ps_header table, #ps_header table tr{
margin:10px;
}

#ps-loading-image{
display:none;
}
#result {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    /* max-height: 500px; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 15px;
}

  #totals {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: beige;
    border-color: black;
    border-width: 2px;
    border-style: groove;
    text-align: center;
    padding: 3px;
  }

  #totals div {
    display: inline;
    padding-right: 20px;
  }

  #totals .req {
    font-weight: bold;

    color: darkgreen;
  }

  #totals .bad {
    background-color: black;
    color: red;
  }

  .crtc, .tools {
    cursor: pointer;
    background-color: lightblue;
    padding: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    round-clip: 2;
    border-style: outset;
    border-width: 2px;
    border-color: lightblue;
  }

  .crtc:hover {
    border-color: black;
  }

  .lang {
    width: 60px;
    font-size: 0.8em;
  }


  .music_row, .music_row * {
    
    /* font-size: 1.1em; */
  }

.playitem{
  width:100%;
}
tr.playitem > th > input.socan,tr.playitem > td > input.socan{
  width:150px;
}


  .music_row_heading {
    height:30px;
    background-color: none;
  }

  .music_row_heading input{
    margin-left:5px;
    background: none;
    border-width: 0;
  }
  .playsheet_block, .spokenword_block, .podcast_block,.save_block {
    max-width: 1000px;
    width:100%;
    min-height:200px;
    position:relative;
    margin-left: auto;
    margin-right:auto;
    display:block;
    float:left;

  }

  .podcast_block_inner{
    margin-left:auto;
    margin-right:auto;
    width:50%;
    display:block;
    position:relative;
  }

  .spokenword_block{
    min-height:400px;
  }

.tooltip-inner{
  max-width:350px;
}
  .dragzone {
    cursor: default;

  }

  button.box {
    display: inline-block;
    height: 27px;
    width: 27px;
    border-width: 1px;
    border-style: dotted;
    cursor: default;
    background-color: white;
    background-size: 100%;
    margin-bottom: 2px;
  }

  button.box.playlist:hover {
    background-image: url('../images/tags/playlist.png');
    opacity: 0.5;
  }

  button.box.cancon:hover {
    background-image: url('../images/tags/can.png');
    opacity: 0.5;
  }

  button.box.femcon:hover {
    background-image: url('../images/tags/fe.png');
    opacity: 0.5;
  }

  button.box.instrumental:hover {
    background-image: url('../images/tags/inst.png');
    opacity: 0.5;
  }

  button.box.hit:hover {
    background-image: url('../images/tags/hit.png');
    opacity: 0.5;
  }

  button.box.partial:hover {
    background-image: url('../images/tags/part.png');
    opacity: 0.5;
  }


  button.box.background:hover {
    background-image: url('../images/tags/background.png');
    opacity: 0.5;
  }

  button.box.theme:hover {
    background-image: url('../images/tags/theme.png');
    opacity: 0.5;
  }

  button.box.playlist.filled {
    background-image: url('../images/tags/playlist.png');
    opacity: 1;
  }

  button.box.cancon.filled {
    background-image: url('../images/tags/can.png');
    opacity: 1;
  }

  button.box.femcon.filled {
    background-image: url('../images/tags/fe.png');
    opacity: 1;
  }

  button.box.instrumental.filled {
    background-image: url('../images/tags/inst.png');
    opacity: 1;
  }

  button.box.hit.filled {
    background-image: url('../images/tags/hit.png');
    opacity: 1;
  }

  button.box.partial.filled {
    background-image: url('../images/tags/part.png');
    opacity: 1;
  }

  button.box.background.filled {
    background-image: url('../images/tags/BACKGROUND.png');
    opacity: 1;
  }

  button.box.theme.filled {
    background-image: url('../images/tags/THEME.png');
    opacity: 1;
  }

  button.box {
    background-color: transparent;
    background-image: none;;
  }
  .socan select, .socan button, .socan input, .music_row_socan input, .music_row_socan button{
    font-size:0.75em;
    max-width:90px;
  }

  .socan_cue select{
    width:46px;

  }
  .playsheet_block_socan, .music_row_socan, .music_row_socan .music_row{
    max-width:1200px;
    margin-left:10px;
    padding-left:10px;
  }


/*
  Podcasts Page CSS

*/
#popup{
      position:fixed;
      bottom:0;
      right:0;
      width:700px;
      height:100%;
      background-color: #88d2ba;
      overflow:scroll;
      z-index:20;
    }

    #closer{
      position:fixed;
      top:30px;
      right:700px;
      background-color:lightsteelblue;
      color:black;
      cursor:default;
      font-size:2em;
      line-height: 2em;
    }
    #closer:hover{
      color:red;
    }

    .title{
      font-size:1.2em;
    }

    .subtitle{
      font-size:0.9em;
      font-style: italic;
    }
    .podcast_date{
      margin-left:-20px;
      font-color:lightgrey;
      font-size:0.8em;
    }

    .podcast_list_entry{
      padding-left: 35px;
    }
    .tiny{
      font-size:0.7em;
      width:100%;
      background-color:black;
      overflow-wrap: break-word;
    }

    .lit{
      background-color:darkblue;
    }
    button{
      color:black;
    }

    .large-button{
      height:40px;
      font-size: 1.5em;
    }

    #mainleft a{
      background-color:steelblue;
      padding:2px;
    }
    #mainleft  a:hover{
      color:greenyellow;
    }
    #message{
      font-size:2em;
    }


  .adPlay {
    /* Checkbox text */
    text-align: center;
  }

  #sam_title {
    color: black;
    font-size: 1.2em;
    position: fixed;
    padding: 5px;
    height: 40px;
    background-color:beige;
  }

  #sam_title span {
    border: black 1px solid;
    cursor: default;
    padding: 6px;
    background-color: white;
  }

  #sam_title span:hover {
    border: red 1px solid;
    color: red;
    background-color: lightred;
  }

  div#sam_picker {
    position: fixed;
    top: 60px;
    right: 40px;
    height: 80%;
    overflow: scroll;
    width: 400px;
    background-color: beige;
  }

  #sam_range {
    color: black;
    text-align: right;
  }

  span.one_sam {
    overflow: hidden;
    display: inline-block;

  }

  div.floating {
    position: fixed;
    right: 0;
    top: 30px;
    width: auto;
    z-index:20;
  }

  .sam_row {
    color: black;

    border-top: black 1px solid;
  }

  .blocker{
    position:relative;
    bottom:40px;
    background-color:black;
    color:red;
    height:70px;
  }
  .sam_row button {

    vertical-align: top;
    cursor: default;
  }

  .sam_row button:hover {

  }

  #totals{
    color:black;
  }

  button {
    color:black;
  }

  #message{
    padding:6px;
    color:black;
    position:fixed;
    top:0;
    left:40%;
    background-color:mintcream;
    font-size:1.2em;
  }

  #left, #right{
    width:48%;
    float:left;
  }

  .vars{
    position:absolute;
    top:5000px;
  }

  .tracklist_overlay{
    position:fixed;
    overflow:scroll;
    top:40px;
    left:10%;
    width:80%;
    background-color:lightsteelblue;
    z-index:21;
    padding:20px;
    color:darkblue;
  }
  .tracklist_overlay span{
    margin-left:40px;
  }
  .tracklist_overlay a{
    background-color:steelblue;
    padding:2px;
  }
  .tracklist_overlay a:hover{
    color:greenyellow;
  }

  .dark{
    position:fixed;
    top:50px;
    left:0;
    height:100%;
    width:100%;
    opacity: 0.8;
    background-color:black;
  }

  th small{
    color:black;
  }

  .ps_wrapper{
    margin-left:15px;
  }

  .admin_picker{
    position:absolute;
    top:0px;

    height:30%;
    width:100%;
    z-index:60;
  }

  .admin_picker span{
    position: relative;
    display:block;
    margin-left:auto;
    margin-right: auto;
    margin-top:100px;
    padding-top:50px;
    text-align:center;
    height:300px;
    background-color: darkslategray;
    width:100%;
  }
    
    
#login{
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	width:300px;
}

table, td, tr{
text-align:left;
}

/*-------------------*/
/* Old Playsheet CSS */
/*-------------------*/ 

table.menu { border-collapse: separate; border-color: #6666CC; background-color: #000000; }
td.menu { background-color: #FF9999; font-weight: bold; }
td.reqmeet {  }
td.reqfail { background-color: #CC9999; }
div.playsheet { background-color:rgba(30,30,30,.1);
				width:920px; 
				border-color:#c3c3c3; 
				border-style:ridge;
				margin-left: auto;
				margin-right: auto;
			/*	text-align:center;*/
				}
div.playsheetSOCAN { background-color:rgba(30,30,30,.1);
				width:1024px; 
				border-color:#c3c3c3; 
				border-style:ridge;
				margin-left: auto;
				margin-right: auto;
			/*	text-align:center;*/
				}
table#playsheet-table { 
	width:880px; 
	margin-left: auto;
	margin-right: auto;
	}
	
table#playsheet-table tr, table#playsheet_table td{
	border-width: 0;
}
table#playsheet-table button{
	width:23px;
}
.bigbutton{
	height:50px;
	width:150px;
	font-size: 1em;
}
table.box { padding: 15px; border-color: #c3c3c3;; border-style:ridge;  }
table.report { border-collapse: collapse; border: none; border-color: #000000; padding: 100px;}
table { border-collapse: collapse; }

/*----------------------------*/
/*--------CHARTING------------*/
/*----------------------------*/

.charting-container{
	width:80%;
	margin-left: auto;
	margin-right: auto;
	-moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}
.charting-body
{
	margin-left:auto;
	margin-right:auto;
	width:100%;
	height:auto;
	min-height:30px;
	overflow:visible;
	position:relative;
}

#charting-title, .charting-row{
	z-index:-1;
	display:inline-block;
	position:relative;
	width:960px;
	padding-top:5px;
}
#charting-title{
	background-color: #1030BE;
	-moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}
.charting-row{
	background-color: rgba(10,10,10,.30);
	border: 1px solid black;
	border-width:1px 0px 0px 0px;
	font-size: 90%;
}
.charting-artist,
.charting-song,
.charting-album,
.charting-showname,
.charting-date,
.charting-cancon,
.charting-playlist,
.charting-status{
	position:relative;
	float:left;
	display:inline-block;
	min-width:25px;
	min-height:25px;
}
.charting-artist,
.charting-song,
.charting-album{
	width:175px;
}
.charting-showname{
	width: 200px;
}
.charting-cancon,
.charting-playlist{
	width:25px;
}
.charting-date{
	width:110px;
}
.charting-status{
	width:30px;
}
/*------------------*/
/*	Show Edit Page--*/
/*------------------*/
.member_owner div{
  width:50%;
}

/*----------------------------*/
/*--------CHARTING (OLD)------------*/
/*----------------------------*/
.chartBanner
*{
	background-color: #004080;
}

.chartSong
{
	float: left;
	width: 200px;
	position:relative;
}
.chartArtist
{
	float: left;
	width: 200px;
	position:relative;
}
.chartAlbum
{
	float: left;
	width: 200px;
	position:relative;
}
.chartShow
{
	float: left;
	width: 300px;
	position:relative;
}
.chartDate
{
	float: left;
	width: 150px;
	position:relative;
}
.chartCC
{
	float: left;
	width:35px;
	position:relative;
}

/*----------------------------*/
/*----MEMBERSHIP CSS RULES----*/
/*----------------------------*/
div#username_ok.green,div#password_ok.green,div#student_no_ok.green,button#submit_user.green{
	background-color:#00FF00;
	color:black;
}
button#submit_user.red{
	background-color:#FF0000;
	color:black;
}
#username_ok,#password_ok,#student_no_ok{
	position:absolute;
	padding-left:-10px;
	display:inline;
	width:150px;
	z-index:2;
	background-color:#FF0000;
	color:white;
	overflow:hidden;
	text-align:left;
}
.container{
	height:auto;
	padding-left:10px;
	width:95%;
	margin-left:auto;
	margin-right:auto;
}

.containerrow{
    text-align:right;
	display:inline-block;
	width:100%;
	overflow:visible;
	margin-bottom:2px;
}
#print_friendly{
	position:absolute;
	right:0px;
	top:80px;
}
.membership{
	width:1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2px;
	z-index: 3;
	margin-bottom: 15px;
}

.membership ul{
	background-color:inherit;
}

#membership_header{
    list-style: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
    margin-top:0px;
	}
#membership_header li,#search_header li{
    float:left;
    position:relative;
    margin-right:2px;
    border:none;
}
#search_container{
	width:auto;
	display:inline-block;
}
#membership_result{
	float:left;
	width:100%;
 	background:inherit;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-bottom:10px;
}
.height_cap{
	max-height:80%;
}

#member_password_change{
	padding-bottom:10px;
}
#email_list{
	min-height:400px;
	height:auto;
	min-width:80%;
	width:auto;
	padding-bottom:15px;
}
.member_result_row{
	margin-left:auto;
	margin-right:auto;
	width:95%;
	text-align:left;
	overflow:hidden;
}
#headerrow{
	background-color: #a4a4a4;
}
#membership_table tr td,#membership_table tr th{
    padding-right:5px;
}
.staff_comment{
	width:250px;
}
.report_row:hover>div{
	background-color:blue;
}
.member_row:hover{
	cursor: pointer; cursor: hand;
	background-color:blue;
}
.member_row.delete{
    background-color:red;
}
#membership_year{
	margin-left:auto;
	margin-right:auto;
}
.membership_year_row td{
	padding-left:10px;
	padding-right:10px;
}
.data_set{
	padding-left:5px;
	padding-right:10px;
}

.col1,.col2,.col3,.col4,.col5,.col6,.col7,.col8,.col15,.col20,.span5col6,.span3col4,.span3col5,.span4col5{
  display:inline-block;
	position:relative;
	float:left;
	height:auto;	
	overflow:visible;
}
div.col2 input,div.col3 input,div.col4 input,div.col5 input,div.col6 input,div.col7 input{
	max-width:140px;
}
.col1{
	width:100%;
}
.col2{
	width:50%;
}
.col3{
	width:33%;
}
.col4{
	width:25%;
}
.col5{
	width:20%;
}
.col6{
	width:16.66%;
}
.col7{
	width:14.28%;
}
.col8{
	width:12.5%;
}
.col15{
	width:6.66%;
}
.col20{
	width:5%;
}
.span5col6{
	width:83.33%;
	float:right;
}
.span3col5{
	width:60%;
}
.span3col4{
	width:75%;
}
.span4col5{
	width:80%;
}
.span9col10{
	width:90%;
}


.memlabel{
	padding-left:15px;
}
#submit_user{
	height:30px;
	width:150px;
	color:black;
    -moz-box-shadow:inset 0px 0px 1px #BEBEBE;
    -webkit-box-shadow:inset 0px 0px 1px #BEBEBE;
    box-shadow:inset 0px 0px 1px #BEBEBE;
}

/* HELP PAGE CC */
 
#qalist
{
 position:relative;
 width: 700px;
 margin-left:-20px;
 }
 .QAicon{
 position:relative;
 width:10px;
 display:inline-block;
 }
 .collapsed{
 display:inline-block;
 }
 .expanded{
 display:none;
 }
 .QAcontainer
 {
 display:inline-block;
 padding-top:5px;
 position:relative;
 width:750px;
 margin-left:10px;
	 margin-bottom:10px;
 color:white;
 text-decoration:underline;
	 cursor:default;
	 font-size:1.7em;
 }
.QAelement{
width:750px;
margin-left:10px;
position:relative;
padding-top:5px;
padding-bottom:5px;
	cursor:default;
}
.QAanswer{
position:relative;
left:10px;
right:10px;
margin-left: 30px;
width:705px;
background-color:#222266;
color:#BEBEBE;
	cursor:default;
	line-height:1.6em;
}
.QAquestion
{
position:relative;
left:10px;
right:10px;
width:705px;
color:#F0F0F0;
height:auto;
	margin-bottom:15px;
	cursor:help;

}
.QAquestion:hover{
	text-decoration: underline;
}
.QAanswer img {
	padding:10px;
}
 

/* PLAYSHEET SAM CSS */


.table {
  display:table;
	margin-bottom: 5px;
}
.table p, .table div {
	display: table-row;
}
.table select, .table span, .table textarea {
	display: table-cell;
	padding: 3px;
	vertical-align: top;
}

#sam-box{
	display:none;
}

.current{
	border-width: 3px;
	border-style: solid;
}


#SamListouter, div#loadtimes{
	color:black;
/*	display:block;*/
	display:none;
	background-color:beige;
	border-width: medium;
	border-style:solid;
	border-color:#BBB;
	height:80%;
	width:400px;
	position:fixed;
	right:8%;
	top:0;
	overflow: auto;
	z-index:20;
}
div#loadtimes *{
	cursor: default;
	text-align: left;
}

div.closeButton{
position:absolute;
top:0;
right:25px;
z-index:40;
}

button.closeButton{
position:fixed;
background-color: white;
color:red;
}



#SamListouter *{
color:black;
	cursor:default;

}

div#loadtimes{
	top:auto;
	height:200px;
	bottom:30px;
}



/* #SamList, #loaderButtons{
	display:inline;
	position:absolute;
	overflow-x: hidden;
	width:220px;
} */
#SamList{
	position: relative;
	float:left;
	width:345px;

	padding-left:0px;
	z-index:3;
	overflow-y: hidden;
}



#loaderButtons{
/*	top:40px;*/
	position: relative;
	float:left;
	width:35px;
	z-index:2;
	overflow-y: hidden;

}

.loaderButton, .samsong{

	position: relative;
	float:left;
	margin:1px 0 0 0;
	padding:1px;
	font-size:1em;
	display:block;
	height:19px;
	text-align:left;
	width:320px;
}

.loaderButton{
	
	
	z-index:15;
	width:30px;
	background-color: #8F8;
}

.loaderButtonHover{
	background-color:#7C7;
}

.samsong{
	background-color: #CFC;
	margin-left:0px;
	z-index:2;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-left:10px;
/*	width:200px;*/
}

.date{
/*	position:absolute;*/
	font-size: 0.7em;
	float:right;
	z-index:5;
}
.panel-button{
	position:fixed;
	background-color: beige;
	z-index:10;
/*	border-width: 2px;
	border-color: black;
	border-style: solid;
*/	
}

.panel-button:hover{
	background-color: lime;
}

#SamTab{
	position: fixed;
	top:100px;
	right:15px;
}
#buttonLoadTimes{
	top:125px;
	right:15px;
}

#autosaver{
/*display:none;*/
top:150px;
right:15px;
width:75px;
height:50px;
}

#thisDate{
font-family: Arial;	
float:right;
}



#inputbox
{
width: 55px;	
}
#checkbox
{
	width: 22px;
}

div#ui-datepicker-div{
	-moz-box-shadow:inset 0px 0px 1px #BEBEBE;
    -webkit-box-shadow:inset 0px 0px 1px #BEBEBE;
    box-shadow:inset 0px 0px 1px #BEBEBE;
	display:inline-block;
		position:relative;
	max-width:300px;
	max-height:300px;
	margin-top:0px;
	z-index:50 !important;
}

div.ui-datepicker{
	width:100%;
	background:grey;
}

.ui-datepicker-header{
	width:100%;
}
.ui-datepicker-next{
	text-align:right;
	display:inline-block;
	width:100px;
}
.ui-datepicker-prev{
	text-align:left;
	display:inline-block;
	width:100px;
}	



.bad{
/*	color:red;*/
}


table#ads, table#ads, table#spokenwordtable, table#spokenwordtable *{
	
/*	background-color: #DFF;*/

}

table#ads{
	width:450px;
	display:inline;
	margin-right:50px;
	table-layout: auto;
	position:relative;
	top:0px;
	cellspacing:0;
	padding: 0;
}


#submitMsg{
	position:relative;
	top:50px;
	background-color: rgba(10,10,10,0.85);
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	width:400px;
}

#submit{
height:60px;
width:300px;
}
#autosave{
	position:absolute;
	top:0px; 
	left:0px; 
	z-index:10;
/*	display:none;*/
}

span.left{
/*width:750px;*/
display:inline;
float:left;
}

span.right{
	width:200px;
	display:inline;
	float:right;
}


.adSelectGroup{
margin:20px;
background-color:#3434A4;
width:750px;
padding:10px;
display:table;
}

.adSelect, .adRow, .adHead{
/*background-color: #EEF;*/	
margin:20px;
padding:3px;
display:table-row;
}
.adSelect *, .adRow *{
padding:3px;
border-style:solid;
border-width: 1px;
display: inline;
/*border-color: #DDE; */
}

div.adTime, div.adTime input{
max-width:120px;
}

div.adType, div.adType input{
max-width:80px;
}
input.adInput{

padding:0;
border-width: 0;
background-color: transparent;
overflow-x: visible;
}

div.adName, div.adName input{

background-color:transparent;
width:330px;
}

.adName input{
	
border-width:0;
}

.adType, .adTime, .adName, .adPlay{
text-align:left;
display:table-cell;
overflow-x: visible;
}

div.adreport{
	display:inline-block;
	width:350px;
	background-color: #88EE88;
	color:black;
	margin:7px;
	padding:7px;
}

span#previous{
float:left;
}

span#next{

float:right;
}

span#draft{
	position:relative;
color:red;	
font-size: 15px;
}

.stars{
font-size: 1.1em;
}
div#reportShow{
	width:830px;
background-color: white;	
padding:10px;
margin-bottom:15px;
color:black;
border-width:0 0 2px 2px;
border-color:black;
border-style:solid;
}

div#report-summary{
width:800px;
background-color: white;	
padding:10px;
margin-bottom:15px;
color:black;
border-width:1px 1px 1px 1px;
border-color:black;
border-style:solid;
}
div#report-summarySOCAN{
width:830px;
background-color: white;	
padding:10px;
margin-bottom:15px;
color:black;
border-width:1px 1px 1px 1px;
border-color:black;
border-style:solid;
}
.report-table{
	border-size: 1px 1px 1px 1px;
}
.report-table *{
	color:black;
	padding:7px;
	border-style:solid;
	border-color:black;
}

.report-header{
	font-weight: bold;
	border-width: 2px;
	background-color:lightgray;
}

.summarybold{
font-weight:bold;
}

.entry-lang{
	font-size: 0.70em;
}
.report-entry{
	margin:2px;
	padding:0;
	width:600px;
	z-index: 2;
}
.report-icons{
	height:18px;
	display:inline;
	left:640px;
	position:absolute;
	left:670px;
	z-index:3;
}

.dotted-underline{
	
	border-style: dotted;
	border-color:gray;
	border-width: 0 0 1px 0;
}

.report-icons img, .report-icons a{

position:relative;
top:-20px;
text-decoration: none;
color:black;
font-size: 0.85em;
}
.report-icons a{
	position: relative;
	top:-28px;
	background-color: white;
}


div#nothing{
display:inline;
width:20px;
height:20px;
background-color: blue;
}

span#show-percent{
	position:absolute;
	left:215px;
}

#report-show-compliance{
	margin-left: 30px;
	font-style: italic;
}


.lib-delete{
color:black;
}

.yesdelete{
	color:red;
	font-weight:bold;
}
.lib-delete, .yesdelete{
	background-color: white;
margin-left: 30px;
cursor:default;
font-size: 0.75em;
}

.lib-delete:hover, .yesdelete:hover{
background-color: white;
font-weight: bold;
cursor:default;
font-size: 0.75em;
}

#nukem{
background-color:yellow;
color:red;
font-weight: bold;
font-size: 1.5em;
padding:5px;
cursor: default;
}

#nukem:hover{
background-color: red;
color:yellow;
}


div.dupeSection{
	background-color: rgba(100,100,100,0.8);
	margin-bottom:15px;
	width:500px;
	padding:4px;
	
}
div.dupeSection span{
position:absolute;
left:110px;
}

#ad-select-template{
	display:none;
}
.adbuttons, .ad-select-button{
cursor:default;	
font-size:0.8em;
border-width:0;
}
.adbuttons:hover, .ad-select-button:hover{
	
	color:red;
}


.selectanad{
	background-color: transparent;
	border-width:1px;
}

.selectanad option{
background-color:black;
}

#adcount{
	position:absolute;
	top:120px;
	left:40%;
	background-color:green;
}


.report_img{
	
width:20px;
height:20px;
}

.custom_button{
	background-color: salmon;
	color:black;
	cursor:default;
	border-style: solid;
	border-width: 2px;
	border-color: salmon;

}

.custom_button:hover{
	background-color: white;
	color:black;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

#show_edit_podcast{
	background-color: rgba(100,100,100,0.7);
	width:100%;
	position:relative;
	padding:12px;
}


.large-button{
	font-size:3em;
}
.form_wrap{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:60%;
}
