headers/config.php
config.php
*.sublime-project
*.sublime-workspace
static
web.config
logs/log.html
*.idea
.buildpath
.project
.gitignore
org.eclipse.php.core.prefs
org.eclipse.wst.common.project.facet.core.xml
php_errors.log
