#Ignore Config Files
config.php

#Ignore Logs
log.html

#Ignore Windows Crap
Thumbs.db
#and OSX crap
.DS_Store

#Ignore Project Files from Various IDE's
*.sublime-project
*.sublime-workspace
*.idea
.buildpath
.project
org.eclipse.php.core.prefs
org.eclipse.wst.common.project.facet.core.xml
