<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow_Headers" value="Origin, Content-Type, Accept" />
                <add name="Access-Control-Allow-Origin" value="http://www.citr.ca" />
                <add name="Allow-Control-Request-Method" value="POST" />
                <add name="Access-Control-Allow-Credentials" value="true" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
