/*----------------------------*/
/*----MEMBERSHIP CSS RULES----*/
/*----------------------------*/

div#username_ok.green,div#password_ok.green,div#student_no_ok.green,button#submit_user.green,div#email_check.green{
	background-color:#00FF00;
	color:black;
}
div#email_check.red{
	background-color:#FF0000;
	color:white;
}
button#submit_user.red{
	background-color:#FF0000;
	color:black;
}
#username_ok,#password_ok,#student_no_ok{
	position:absolute;
	padding-left:-10px;
	display:inline;
	width:150px;
	z-index:2;
	background-color:#FF0000;
	color:white;
	overflow:hidden;
	text-align:left;
}
#container{
	height:auto;
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

.containerrow{
	text-align:right;
	display:inline-block;
	width:100%;
	overflow:visible;
	margin-bottom:2px;
}
#print_broadcastly{
	position:absolute;
	right:0px;
	top:80px;
}
.print_wrapper{
	max-width:800px;
}
.membership{
	width:1024px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -2px;
	z-index: 3;
	margin-bottom: 15px;
}

.membership ul{
	background-color:inherit;
}

#membership_header{
	list-style: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top:0px;
	padding-top:2px;
}
#membership_header li,#search_header li{
	float:left;
	position:relative;
	margin-right:2px;
	border:none;
}
#search_container{
	width:auto;
	display:inline-block;
}
#membership_result{
	float:left;
	width:100%;
	background:inherit;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-bottom:10px;
}
.height_cap{
	max-height:80%;
}

#member_password_change{
	padding-bottom:10px;
}
#email_list{
	min-height:400px;
	height:auto;
	min-width:80%;
	width:auto;
	padding-bottom:15px;
}
.member_result_row{
	margin-left:auto;
	margin-right:auto;
	width:95%;
	text-align:left;
	overflow:hidden;
}
#headerrow{
	background-color: #a4a4a4;
}
#membership_table tr td,#membership_table tr th{
	padding-right:5px;
}
.staff_comment{
	width:180px;
}
.report_row:hover>div{
	background-color:blue;
}
.member_row:hover{
	cursor: pointer; cursor: hand;
	background-color:blue;
}
.member_row.delete{
	background-color:red;
}
#membership_year{
	margin-left:auto;
	margin-right:auto;
}
.membership_year_row td{
	padding-left:10px;
	padding-right:10px;
}
.data_set{
	padding-left:5px;
	padding-right:10px;
}
#membership_header > li > select{
	max-width:150px;
}
.memlabel{
	padding-left:15px;
}
#submit_user{
	height:30px;
	width:150px;
	color:black;
	-moz-box-shadow:inset 0px 0px 1px #BEBEBE;
	-webkit-box-shadow:inset 0px 0px 1px #BEBEBE;
	box-shadow:inset 0px 0px 1px #BEBEBE;
}
