<IFModule mod_rewrite.c>
<IfModule mod_negotiation.c>
	Options -MultiViews
</IfModule>

Options +FollowSymLinks

RewriteEngine ON
RewriteBase /api2/
#Trailing Slashes
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /1$ [l,R=301]

#Front Controller
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ public/index.php [L]
</IfModule>
