.album-row {
  clear: both;
}

.track-form {
  border-style:solid;
  border-width:1px;
  margin-bottom:30px;
  padding-bottom: 20px;
}

.track-file-name {
  text-align:center;
}

.track-number-label {
  margin-left: 5%;
  margin-bottom: 2px;
}
.track-number-field {
  width:7%;
  margin-left: 5%;
}

.input-track-label {
  text-align:center;
  margin:2px;
}
.input-track-field {
  width:90%;
  margin-left:5%;
  margin-bottom: 15px;
}

.submission-button {
  text-transform: uppercase;
  width: 100%;
  border-radius: 3px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: white;
}

#album-art-button, #new-track-button {
  background-color: #eb6748;
    margin-bottom: 20px;
}

#submit-button {
  background-color: green;
  border-color: green;
  margin-top: 30px;
  margin-bottom: 50px;
}

#album-viewer {
  margin-top: 10px;
}
.thumb {
  clear: both;
  width: auto;
  height: auto;
  /* max-height: 500px; */
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.tooltip-target {
  clear: none;
  color: #eb6748;
  border: 1px solid;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 3px;
  padding-right: 3px;
}
.tooltip-target:hover {
  color: #343834;
  background-color: #eb6748;
}
.tooltip-box {
  color: #343834;
  background-color: white;
  display: none;
  /*
  border: 1px solid;
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  */
  clear: none;
}
.tooltip-target:hover + .tooltip-box {
  display: inline-block;
}
