/*--------------------------------*/
/*  Ad Scheduler (no-angular) CSS */
/*--------------------------------*/

.schedule{
	list-style:none;
	max-width:1024px;
	margin-left: auto;
	margin-right: auto;
	z-index: 3;
	margin-bottom: 15px;
}

.table-condensed>tbody>tr>td{
	padding:1px 2px 0px 0px;
}
.table-condensed>tbody>tr>td>button{
	font-size:0.9em;
}
table.ads{
	max-width:100%;
}
table.ads > tbody > tr > td > input.ad_time {
	max-width: 80px;
}
table.ads > tbody > tr > td > input.name {
	max-width: 775px;
}
table.ads > tbody > tr > td > select.name, table.ads > tbody > tr > td > input.name {
	width:100%;
	min-width:300px;
}
.schedule > li > div > table.ads{
	max-width:1024px;
}
.save_button{
	position:fixed;
	font-size:2.0em;
	top:100px;
	right:10px;
}
