/*----------------------------*/
/*--------CHARTING------------*/
/*----------------------------*/

.charting-container{
	width:80%;
	margin-left: auto;
	margin-right: auto;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}
.charting-body
{
	margin-left:auto;
	margin-right:auto;
	width:100%;
	height:auto;
	min-height:30px;
	overflow:visible;
	position:relative;
}

#charting-title, .charting-row{
	z-index:-1;
	display:inline-block;
	position:relative;
	width:960px;
	padding-top:5px;
}
#charting-title{
	background-color: #1030BE;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}
.charting-row{
	background-color: rgba(10,10,10,.30);
	border: 1px solid black;
	border-width:1px 0px 0px 0px;
	font-size: 90%;
}
.charting-artist,
.charting-song,
.charting-album,
.charting-showname,
.charting-date,
.charting-cancon,
.charting-playlist,
.charting-status{
	position:relative;
	float:left;
	display:inline-block;
	min-width:25px;
	min-height:25px;
}
.charting-artist,
.charting-song,
.charting-album{
	width:175px;
}
.charting-showname{
	width: 200px;
}
.charting-cancon,
.charting-playlist{
	width:25px;
}
.charting-date{
	width:110px;
}
.charting-status{
	width:30px;
}
