.login-spacing-bar{
	margin-top:7px;
	margin-bottom:7px;
	width:100%;
	float:left;
}

.big-login-spacing-bar{
	margin-top:7px;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:7px;
	width:100%;
	float:left;
}

/*
 * Datepicker CSS
 */

div#ui-datepicker-div{
	max-width:300px;
	max-height:2500px;
	margin-top:0px;
	z-index:50 !important;
}

div.ui-datepicker{
	width:100%;
	background:grey;
}

.ui-datepicker-header{
	width:100%;
}
.ui-datepicker-next{
	text-align:right;
	display:inline-block;
	width:100px;
}
.ui-datepicker-prev{
	text-align:left;
	display:inline-block;
	width:100px;
}

/*
 * Search box CSS
 */
 input[type="search"]::-webkit-search-cancel-button {

   /* Remove default */
   -webkit-appearance: none;

   /* Now your own custom styles */
   height: 10px;
   width: 10px;
   background-image: url('../images/x.png');
 }
/*
 * License Styling
 */
#license {
	position:absolute;
	width:100%;
	height:auto;
	margin-left: auto;
	margin-right: auto;
	border:5px;
	bottom:10px;
}
#license_inner {
	display:block;
	width:775px;
	margin-left: auto;
	margin-right: auto;
	height:auto;
	font-size: 11px;
}

/*
 * Booking Styling
 */

.youCanBookMe_Container > iframe{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	max-height:850px;
	background:transparent;
}
.youCanBookMe_Container{
	position: relative;
	margin-left: auto;
	margin-right:auto;
	/*Don't touch - anything below 56% induces a scrollbar on 100%zoom, 1080p chrome, any over makes it too long*/
	padding-bottom: 56%;
	/* Padding top is sometimes req'd by things like youtube videos */
	padding-top: 0;
	height: 0;
	overflow: hidden;
	/* YCBM Adds stupidly wide margins in it's iframe if you don't limit the contianer width */
	max-width: 830px;
}
.poweredByFooter{
	display:none;
}

/*----------------------------*/
/*-------Sam Ad Searcher------*/
/*----------------------------*/
#samAds{
	width:80%;
}

/*----------------------------*/
/*----Genre manager CSS ------*/
/*----------------------------*/
.genrerow.delete {
	background-color: red;
}
.subgenrerow.delete {
	background-color: red;
}

/*
 * Login Styling
 */
#login{
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	width:300px;
}

/*----------------------------*/
/*----DataTable CSS ------*/
/*----------------------------*/
table.dataTable tbody tr{
    background-color: grey;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info, .dataTables_wrapper
.dataTables_processing, .dataTables_wrapper .dataTables_paginate{
    color: #ffffff;
}

table.dataTable.cell-border{
    border-bottom: 1px solid #ddd
}

/*----------------------------*/
/*------- Set Socan CSS ------*/
/*----------------------------*/
#socanTable.dataTable tbody tr{
    background-color: transparent;
}
#socanTable.dataTable tbody tr:hover{
    background-color: blue;
}

/*-----------------------------*/
/*--- Member Resources CSS ----*/
/*-----------------------------*/
.member_resources_edit{
	width: 100%;
	height: 400px;
}
