
<td class='text-center'><input ng-model='playitem.id' class='hidden'>{{$index + 1}} </input></td>
<td><input ng-model='playitem.song.artist'></input></td>
<td><input ng-model='playitem.song.title'></input></td>
<td><input ng-model='playitem.song.album'></input></td>
<td ng-show='playsheet.socan'>
	<input ng-model='playitem.song.composer'></input>
</td>
<td ng-show='playsheet.socan'>
	<select ng-model="playitem.start_hour" ng-options="n for n in [] | range:0:24 "
                        ng-change="updateNow(row);"></select>:
    <select ng-model="playitem.start_minute" ng-options="n for n in [] | range:0:60 "
            ng-change="updateNow(row);"></select>
    <button ng-click="cue(row)">CUE</button>

</td>
<td ng-show='playsheet.socan'>
	<select ng-model="playitem.length_minute" ng-options="n for n in [] | range:0:60 "></select>:
                <select ng-model="playitem.length_second" ng-options="n for n in [] | range:0:60 "></select>
                <button ng-click="end(row)">END</button>
</td>
<td><button ng-model="playitem.is_playlist" ng-click='playitem.is_playlist=!playitem.is_playlist' ng-class="{filled:playitem.is_playlist==true}" class="box playlist pad-top"></button></td>
<td><button ng-model="playitem.is_canadian" ng-click='playitem.is_canadian=!playitem.is_canadian' ng-class="{filled: playitem.is_canadian==true}" class="box cancon pad-top"></button></td>
<td><button ng-model="playitem.is_fem" ng-click='playitem.is_fem=!playitem.is_fem' ng-class="{filled:playitem.is_fem==true}" class="box femcon pad-top"></button></td>
<td><button ng-model="playitem.is_instrumental" ng-click='playitem.tags.instrumental=!playitem.is_instrumental' ng-class="{filled:playitem.is_instrumental==true}" class="box instrumental pad-top"></button></td>
<td><button ng-model="playitem.is_part" ng-click='playitem.is_part=!playitem.is_part' ng-class="{filled:playitem.is_part==true}" class="box partial pad-top"></button></td>
<td><button ng-model="playitem.is_hit" ng-click='playitem.is_hit=!playitem.is_hit' ng-class="{filled:playitem.is_==true}" class="box hit pad-top"></button></td>
<td>
	<select ng-model='playitem.crtc_category'>
		<option value='20'>20</option>
		<option value='30'>30</option>
	</select>
</td>
<td><input class='lang' ng-model='playitem.lang'></input></td>
<td><button ng-click=playsheet.add($index)><img src='images/collapsed.png'></button></td>
<td><button ng-click=playsheet.remove($index)><img src='images/expanded.png'></button></td>
<td></td>
