
<td><input ng-model='playitem.id' class='hidden'></input></td>
<td><input ng-model='playitem.title'></input></td>
<td><input ng-model='playitem.artist'></input></td>
<td><input ng-model='playitem.album'></input></td>
<td ng-show='playsheet.socan'>
	<input ng-model='playitem.composer'></input>
</td>
<td ng-show='playsheet.socan'>
	<select ng-model="playitem.start_hour" ng-options="n for n in [] | range:0:24 "
                        ng-change="updateNow(row);"></select>:
    <select ng-model="playitem.start_minute" ng-options="n for n in [] | range:0:60 "
            ng-change="updateNow(row);"></select>
    <button ng-click="cue(row)">CUE</button>

</td>
<td ng-show='playsheet.socan'>
	<select ng-model="playitem.length_minute" ng-options="n for n in [] | range:0:60 "></select>:
                <select ng-model="playitem.length_second" ng-options="n for n in [] | range:0:60 "></select>
                <button ng-click="end(row)">END</button>
</td>
<td ng-repeat="(tag,value) in playitem.tags">
	<button ng-model='tag' ng-click='playitem.tags.value=!playitem.tags.value' ng-class="{filled:{{value}} }" class='box {{tag}} pad-top'></button>
</td>
<td>
	<select ng-model='playitem.cancon_category'>
		<option value='20'>20</option>
		<option value='30'>30</option>
	</select>
</td>
<td><input class='lang' ng-model='playitem.language'></input></td>
<td><button ng-click="add($index)"><img src='images/collapsed.png'></button></td>
<td><button ng-click="remove($index)"><img src='images/expanded.png'></button></td>
<td>Drag Me</td>
