<h4 class='text-left'>{{playsheet.start_time}} - {{playsheet.end_time}}</h4>
<table class='table-condensed'>
	<tr>
		<th>Artist</th>
		<th>Song</th>
		<th>Album</th>
		<th ng-show="playsheet.socan">Composer</th>
		<th ng-show="playsheet.socan">Start Time</th>
		<th ng-show="playsheet.socan">Duration</th>
		<th ng-repeat='tag in playsheet.tags'></th>
		<th>Category</th>
		<th>Lang</th>

	</tr>
	<tr	ng-repeat='playitem in playsheet.playitems'>
		<td>{{playitem.artist}}</td>
		<td>{{playitem.title}}</td>
		<td>{{playitem.album}}</td>
		<td ng-show="playsheet.socan">{{playitem.composer}}</td>
		<td ng-show="playsheet.socan">{{playitem.insert_song_start_hour}}:{{playitem.insert_song_start_minute}} </td>
		<td ng-show="playsheet.socan">{{playitem.insert_song_length_minute}}:{{playitem.insert_song_length_second}}</td>
		<td><button ng-class="{filled:playitem.is_playlist==true}" class="box playlist pad-top"></button></td>
		<td><button ng-class="{filled:playitem.is_canadian==true}" class="box cancon pad-top"></button></td>
		<td><button ng-class="{filled:playitem.is_fem==true}" class="box femcon pad-top"></button></td>
		<td><button ng-class="{filled:playitem.is_inst==true}" class="box instrumental pad-top"></button></td>
		<td><button ng-class="{filled:playitem.is_part==true}" class="box partial pad-top"></button></td>
		<td><button ng-class="{filled:playitem.is_hit==true}" class="box hit pad-top"></button></td>
		<td><button ng-class="{filled:playitem.is_theme==true}" class="box theme pad-top"></button></td>
		<td>{{playitem.lang}}</td>
		<td>{{playitem.crtc_category}}</td>
	<tr>
</table>