<h2>{{playsheet.show.name}}</h2>
<h4>{{playsheet.start_time}} - {{playsheet.end_time}}</h4>
<table class='table-condensed crtc_report'>
	<tr class='double-padded-bottom'>
		<th>Artist</th>
		<th>Song</th>
		<th>Album</th>
		<th ng-show="playsheet.socan">Composer</th>
		<th ng-show="playsheet.socan">Start Time</th>
		<th ng-show="playsheet.socan">Duration</th>
		<th>Playlist</th>
		<th>Cancon</th>
		<th>Femcon</th>
		<th>Instrumental</th>
		<th>Partial</th>
		<th>Hit</th>
		<th>Theme</th>
		<th>Background</th>
		<th>Language</th>
		<th>Category</th>

	</tr>
	<tr	ng-repeat='playitem in playsheet.playitems'>
		<td>{{playitem.artist}}</td>
		<td>{{playitem.song}}</td>
		<td>{{playitem.album}}</td>
		<td ng-show="playsheet.socan">{{playitem.composer}}</td>
		<td ng-show="playsheet.socan">{{playitem.insert_song_start_hour | pad:2}}:{{playitem.insert_song_start_minute | pad:2}} </td>
		<td ng-show="playsheet.socan">{{playitem.insert_song_length_minute | pad:2}}:{{playitem.insert_song_length_second | pad:2}}</td>
		<td><div ng-if="playitem.is_playlist==true">&#9745;</div><div ng-if="playitem.is_playlist!=true">&#9744;</div></td>
		<td><div ng-if="playitem.is_canadian==true">&#9745;</div><div ng-if="playitem.is_canadian!=true">&#9744;</div></td>
		<td><div ng-if="playitem.is_fem==true">&#9745;</div><div ng-if="playitem.is_fem!=true">&#9744;</div></td>
		<td><div ng-if="playitem.is_inst==true">&#9745;</div><div ng-if="playitem.is_inst!=true">&#9744;</div></td>
		<td><div ng-if="playitem.is_part==true">&#9745;</div><div ng-if="playitem.is_part!=true">&#9744;</div></td>
		<td><div ng-if="playitem.is_hit==true">&#9745;</div><div ng-if="playitem.is_hit!=true">&#9744;</div></td>
		<td><div ng-if="playitem.is_theme==true">&#9745;</div><div ng-if="playitem.is_theme!=true">&#9744;</div></td>
		<td><div ng-if="playitem.is_background==true">&#9745;</div><div ng-if="playitem.is_background!=true">&#9744;</div></td>
		<td>{{playitem.lang}}</td>
		<td>{{playitem.crtc_category}}</td>
	<tr>
</table>
<div ng-show='playsheet.ads.length > 0'>
	<h3>Ads</h3>
	<ul class='text-center' >
		<li ng-repeat='ad in playsheet.ads'>{{ad.title ? ad.title : ad.artist}}</li>
	<ul>
</div>
<div>
	<h3>Spoken Word Duration</h3>
	<div class='text-center'>
		{{playsheet.spokenword_duration}} minutes
	</div>
</div>
<hr>

