
<td class='text-center'><input ng-model='playitem.id' class='hidden' >{{$index + 1}} </input></td>
<td><input ng-change='playsheet.update()'  ng-model='playitem.artist' class='required'></input></td>
<td><input ng-change='playsheet.update()'  ng-model='playitem.song' class='required'></input></td>
<td><input ng-change='playsheet.update()'  ng-model='playitem.album' class='required'></input></td>
<td ng-show='playsheet.info.socan'>
	<input ng-change='playsheet.update()' ng-model='playitem.composer' ng-class='{required: playsheet.info.socan}'></input>
</td>
<td ng-show='playsheet.info.socan'>
	<select  ng-model="playitem.insert_song_start_hour" ng-class='{required: playsheet.info.socan}' ng-options="n for n in [] | range:0:24 " ng-change="playsheet.updateTrackStart(playitem); playsheet.update();"></select>:
    <select ng-model="playitem.insert_song_start_minute" ng-class='{required: playsheet.info.socan}' ng-options="n for n in [] | range:0:60 " ng-change="playsheet.updateTrackStart(playitem); playsheet.update();"></select>
    <button ng-click="playsheet.cueTrack(playitem)">CUE</button>
</td>
<td ng-show='playsheet.info.socan'>
	<select ng-model="playitem.insert_song_length_minute" ng-class='{required: playsheet.info.socan}' ng-options="n for n in [] | range:0:60 "  ng-change='playsheet.updateTrackDuration(playitem); playsheet.update();'></select>:
    <select ng-model="playitem.insert_song_length_second" ng-class='{required: playsheet.info.socan}' ng-options="n for n in [] | range:0:60 "  ng-change='playsheet.updateTrackDuration(playitem); playsheet.update();'></select>
    <button ng-click="playsheet.endTrack(playitem)">END</button>
</td>
<td>
	<button ng-model="playitem.is_playlist" ng-click='playitem.is_playlist=!playitem.is_playlist' 			ng-class="{filled:playitem.is_playlist==true}" 	class="box playlist pad-top"></button>
</td>
<td>
	<button ng-model="playitem.is_canadian" ng-click='this.playitem.is_canadian=!this.playitem.is_canadian' ng-class="{filled: playitem.is_canadian==true}" class="box cancon pad-top"></button>
</td>
<td>
	<button ng-model="playitem.is_fem" 		ng-click='playitem.is_fem=!playitem.is_fem' 					ng-class="{filled:playitem.is_fem==true}" 		class="box femcon pad-top"></button>
</td>
<td>
	<button ng-model="playitem.is_inst" 	ng-click='playitem.is_inst=!playitem.is_inst' 					ng-class="{filled:playitem.is_inst==true}" 		class="box instrumental pad-top"></button>
</td>
<td>
	<button ng-model="playitem.is_part" 	ng-click='playitem.is_part=!playitem.is_part' 					ng-class="{filled:playitem.is_part==true}" 		class="box partial pad-top"></button>
</td>
<td>
	<button ng-model="playitem.is_hit" 		ng-click='playitem.is_hit=!playitem.is_hit' 					ng-class="{filled:playitem.is_hit==true}" 		class="box hit pad-top"></button>
</td>
<td ng-show="playsheet.info.socan">
	<button ng-model="playitem.is_background" 		ng-click='playitem.is_background=!playitem.is_background' 					ng-class="{filled:playitem.is_background==true}" 		class="box background pad-top"></button>
</td>
<td ng-show="playsheet.info.socan">
	<button ng-model="playitem.is_theme" 		ng-click='playitem.is_theme=!playitem.is_theme' 					ng-class="{filled:playitem.is_theme==true}" 		class="box theme pad-top"></button>
</td>
<td>
	<select ng-model='playitem.crtc_category' class='crtc_category'>
		<option value='20'>20</option>
		<option value='30'>30</option>
	</select>
</td>
<td><input class='lang' ng-model='playitem.lang' class="lang"></input></td>
<td><button ng-click=playsheet.add($index)><img src='images/collapsed.png'></button></td>
<td><button ng-click=playsheet.remove($index)><img src='images/expanded.png'></button></td>
<td class='hand side-padded'>&#x21D5;</td>
