<td class='hidden'>{{promotion.id}}</td>
<td>{{$index +1 }})</td>
<td>
	<form style="margin:0;">

		<label>
			<input type="radio" name="promotion_type" ng-model="promotion.type" value="id"
				ng-checked="promotion.type === 'id'">
			ID
		</label>
		<label>
			<input type="radio" name="promotion_type" ng-model="promotion.type" value="ad"
				ng-checked="promotion.type === 'ad'">
			Ad
		</label>
		<label>
			<input type="radio" name="promotion_type" ng-model="promotion.type" value="promo"
				ng-checked="promotion.type === 'promo'">
			Promo
		</label>
		<label>
			<input type="radio" name="promotion_type" ng-model="promotion.type" value="psa"
				ng-checked="promotion.type === 'psa'">
			PSA
		</label>
	</form>
</td>
<td class='promotion_name' ng-if="promotion.type === 'id'">
	<label for="{{'land_acknowledgement_'+$index}}">You are listening to CiTR Radio 101.9FM, broadcasting from unceded
		Musqueam territory in Vancouver
		<input id="{{'land_acknowledgement_'+$index}}" class="required" type="checkbox" ng-model="promotion.played"
			ng-true-value="1" ng-false-value="''" ng-change='playsheet.update()' />
	</label>
</td>
<td class='promotion_name' ng-if="promotion.type != 'id'">
	<input class="required" style="width:400px" ng-model='promotion.name' ng-change='playsheet.update()' />
</td>


<td><button ng-click=playsheet.removePromotion($index)><img src='images/expanded.png'></button></td>